# Visual Studio
.vs/

# Build Folders
bin/
obj/
out/

# User-specific
*.user
*.suo
*.userosscache
*.sln.docstates

# Temporary files
*.tmp
*.log

# NuGet packages
packages/

# Build results
*.dll
*.exe